.span7.offset3.list_letter
	%h2.row
		Letter list
	%ul
		- @letters.each do |l|
			%li.row
				.span
					= l.id
				.span4
					= link_to l.title, letter_path(l.id)
				.span2
					= link_to :destroy, letter_path(l.id), :method => :delete
					= ' · '
					= link_to :edit, edit_letter_path(l.id)
	.row
		= link_to 'create', new_letter_path