.span4.offset4
	%input{:id=>"fileupload", :type=>"file", :name=>"files[]", :"data-url"=>"letters/upload_template", :multiple => 'true', :class => 'hidden'}
	= form_for @letter do |f|
		%h2.row
			Create mail
		.row
			= f.text_field :from, :placeholder => 'From'
		.row
			= f.text_field :to, :placeholder => 'To'
		.row
			= f.text_field :cc, :placeholder => 'cc'
		.row
			= f.text_field :bcc, :placeholder => 'bcc'
		.row
			= f.text_field :title, :placeholder => 'Subject'
		.row
			= f.text_field :campaign_id, :placeholder => 'Campaign ID'
		.row
			= f.button 'load template', :class => 'btn open-file', :type => 'button'
			%span.filename
		.row
			= f.text_area :body, :placeholder => 'Body'
		.row
			= f.submit 'create', :class => 'btn'