Create letter

= form_for @letter do |f|
	%p
		= f.label :from
		= f.text_field :from
	%p
		= f.label :to
		= f.text_field :to
	%p
		= f.label :subject
		= f.text_field :title
	%p
		= f.label :campaign_id
		= f.text_field :campaign_id
	%p
		= f.label :body
		= f.text_field :body